

    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
          <a href="/service/home" class="d-flex align-items-center text-dark text-decoration-none">
            <img class="mb-2" src="/static/images/skhealers_logo.png" alt="" width="120" height="55">
            <br/>
            <!-- <span class="fs-4">header</span> -->
          </a>

          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">기업 소개&nbsp&nbsp |</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">오시는 길&nbsp&nbsp |</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">지원&nbsp&nbsp |</a>
            <a class="py-2 text-dark text-decoration-none" href="#">정책</a>
          </nav>
        </div>
    </header>
